@import "compass/reset";
@import "compass/css3";

$text-color: #58575F;
$body-color: #F2EEE8;
$post-bg-color: #FFFBF5;
$gray-text-color: #C6C1B0;

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  text-align: center;
  color: $text-color;
  background-color: $body-color;
}

body > header {
  height: 80px;
  width: 100%;
  /*border-bottom: 1px solid HSL(0, 0%, 80%);*/
  background: HSL(38, 100%, 98%);
  box-shadow: 0 0 5px gray;
  position: absolute;
}

body > header > div {
  display: inline-block;
}

body > header li {
  display: inline-block;
}

body > aside {
  margin-top: 80px;
  width: 22%;
  height: 900px;
}

aside#profile {
  float: left;
  background: HSL(205, 45%, 63%);
}

aside#ad {
  float: right;
  background: $post-bg-color;
}

#main {
  margin-top: 80px;
  float: left;
  width: 50%;
  background: HSL(33, 30%, 93%);
  padding: 40px;
}

#main > nav {
  background: $post-bg-color;
  height: 80px;
  margin-bottom: 30px;

  ul {
    height: 100%;
  }
}

#main > nav > ul > li {
  float: left;
  width: 25%;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 25px;
  height: 50px;
  color: $gray-text-color;;
  span {
    padding-top: 4px;
    display: block;
    color: black;
    font-weight: 400;
  }

  &:first-child {
    border-bottom: 5px solid HSL(205, 45%, 63%);;
  }
}

#main > section {
  background: $post-bg-color;
}

#main > section > ul {
  list-style: none;
  padding-left: 0;
}

#main > section > ul > li {
  border-bottom: 1px solid gray;
}

.posts {
  .post {
    text-align: left;
    padding-bottom: 30px;
    border-bottom: 1px solid $body-color;
    img {
      margin-left: 30px;
      margin-top: 30px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      position: absolute;
    }
    section {
      margin-left: 90px;
      margin-right: 30px;

      header {
        padding-top: 30px;
        .icon-loop {
          color: green;
          margin: 0 5px
        }
        .name {
          font-size: 15px;
          font-weight: 400;
        }
        .id {
          font-size: 15px;
          color: $gray-text-color;
        }
        .time {
          font-size: 15px;
          color: $gray-text-color;
          float: right;
        }
      }

      .content {
        padding-top: 15px;
        font-size: 15px;
        line-height: 20px;
      }
      footer {
        margin-top: 20px;
        a {
          font-size: 16px;
          text-decoration: none;
          color: $gray-text-color;
          margin-right: 0.6em;
          &:last-child {
            float: right;
          }
        }
      }
    }
  }
}