@import "compass/reset";
@import "compass/css3";

$text-color: #58575F;
$body-color: #F2EEE8;
$post-bg-color: #FFFBF5;
$gray-text-color: #C6C1B0;
$border-color: HSL(300, 6%, 86%);
$dark-bg-color: HSL(208, 43%, 65%);

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  text-align: center;
  color: $text-color;
  background-color: $body-color;
}

a {
  text-decoration: none;
}

body > header {
  height: 80px;
  width: 100%;
  background: HSL(38, 100%, 98%);
  box-shadow: 0 0 5px $border-color;
  position: absolute;

  .tweet {
    width: 80px;
    height: 100%;
    border-right: 1px solid $gray-text-color;
    float: left;
    a {
      display: block;
      width: 40px;
      margin: 20px 0 0 20px;
      line-height: 40px;
      border-radius: 100%;
      color: white;
      background-color: $dark-bg-color;
      border: 0;
    }
  }

  .actions {
    float: left;
    a {
      display: inline-block;
      width: 40px;
      margin: 20px 0 0 20px;
      line-height: 40px;
      border-radius: 100%;
      border: 1px solid $border-color;
      color: HSL(45, 4%, 36%);
      font-size: 15px;
    }
  }

  h1 {
    margin: 25px auto;
    font-size: 30px;
    color: $dark-bg-color;
    width: 30px;
  }
  .operations {
    float: right;
    width: 294px;

    .search {
      float: left;
      height: 100%;
      line-height: 80px;
      position: relative;
      input {
        width: 186px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid $border-color;
        font-size: 16px;
        background-color: transparent;
        padding-left: 18px;
        outline-style: none;
      }
      span {
        position: absolute;
        line-height: 80px;
        left: 175px;
        font-size: 18px;
      }
    }
    .account {
      float: left;
      height: 100%;
      padding-top: 20px;
      padding-left: 20px;
      img {
        width: 40px;
        border-radius: 100%;
      }
    }
  }
}

body > aside {
  margin-top: 80px;
  width: 22%;
  height: 1200px;
}

aside#profile {
  float: left;
  background: $dark-bg-color;
  font-size: 16px;
  color: white;

  .card {
    header {
      font-weight: 400;
      margin-bottom: 4px;
      img {
        display: block;
        width: 100px;
        border-radius: 100%;
        margin: 55px auto 20px;
      }
    }
    article {
      line-height: 20px;
      padding: 10px;
    }
    footer {
      a {
        margin: 20px auto;
        display: block;
        color: white;
      }
      button {
        font-size: 16px;
        color: white;
        width: 160px;
        height: 40px;
        background-color: HSL(208, 35%, 57%);
        border-radius: 20px;
        border: 0;
      }
    }
  }

  .gallery {
    margin-top: 40px;
    height: 300px;
    img {
      width: 33.3%;
      float: left;
    }
  }
  .activities {
    margin: 30px;
    text-align: left;
    header {
      text-transform: uppercase;
    }
    ul {
      color: HSL(208, 35%, 57%);
      li {
        line-height: 30px;
        a {
          color: white;
        }
      }

    }

  }
}

aside#ad {
  float: right;
  background: $post-bg-color;
}

#main {
  margin-top: 80px;
  float: left;
  width: 50%;
  background: HSL(33, 30%, 93%);
  padding: 3%;
}

#main > nav {
  background: $post-bg-color;
  height: 80px;
  margin-bottom: 30px;

  ul {
    height: 100%;
  }
}

#main > nav > ul > li {
  float: left;
  width: 25%;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 25px;
  height: 50px;
  color: $gray-text-color;;
  span {
    padding-top: 4px;
    display: block;
    color: black;
    font-weight: 400;
  }

  &:first-child {
    border-bottom: 5px solid $dark-bg-color;;
  }
}

#main > section {
  background: $post-bg-color;
}

#main > section > ul {
  list-style: none;
  padding-left: 0;
}

#main > section > ul > li {
  border-bottom: 1px solid gray;
}

.posts {
  .post {
    text-align: left;
    padding-bottom: 30px;
    border-bottom: 1px solid $body-color;
    img {
      margin-left: 30px;
      margin-top: 30px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      position: absolute;
    }
    section {
      margin-left: 90px;
      margin-right: 30px;

      header {
        padding-top: 30px;
        .icon-loop {
          color: green;
          margin: 0 5px
        }
        .name {
          font-size: 15px;
          font-weight: 400;
        }
        .id {
          font-size: 15px;
          color: $gray-text-color;
        }
        .time {
          font-size: 15px;
          color: $gray-text-color;
          float: right;
        }
      }

      .content {
        padding-top: 15px;
        font-size: 15px;
        line-height: 20px;
        overflow: hidden;
      }
      footer {
        margin-top: 20px;
        a {
          font-size: 16px;
          color: $gray-text-color;
          margin-right: 0.6em;
          &:last-child {
            float: right;
          }
        }
      }
    }
  }
}