/* line 5, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/style.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  text-align: center;
  color: #58575F;
  background-color: #F2EEE8;
}

/* line 19, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 23, ../sass/style.scss */
body > header {
  height: 80px;
  width: 100%;
  background: HSL(38, 100%, 98%);
  box-shadow: 0 0 5px HSL(300, 6%, 86%);
  position: absolute;
}
/* line 30, ../sass/style.scss */
body > header .tweet {
  width: 80px;
  height: 100%;
  border-right: 1px solid #C6C1B0;
  float: left;
}
/* line 35, ../sass/style.scss */
body > header .tweet a {
  display: block;
  width: 40px;
  margin: 20px 0 0 20px;
  line-height: 40px;
  border-radius: 100%;
  color: white;
  background-color: HSL(205, 45%, 63%);
  border: 0;
}
/* line 47, ../sass/style.scss */
body > header .actions {
  float: left;
}
/* line 49, ../sass/style.scss */
body > header .actions a {
  display: inline-block;
  width: 40px;
  margin: 20px 0 0 20px;
  line-height: 40px;
  border-radius: 100%;
  border: 1px solid HSL(300, 6%, 86%);
  color: HSL(45, 4%, 36%);
  font-size: 15px;
}
/* line 61, ../sass/style.scss */
body > header h1 {
  margin: 25px auto;
  font-size: 30px;
  color: HSL(205, 45%, 63%);
  width: 30px;
}
/* line 67, ../sass/style.scss */
body > header .operations {
  float: right;
  width: 294px;
}
/* line 71, ../sass/style.scss */
body > header .operations .search {
  float: left;
  height: 100%;
  line-height: 80px;
  position: relative;
}
/* line 76, ../sass/style.scss */
body > header .operations .search input {
  width: 186px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid HSL(300, 6%, 86%);
  font-size: 16px;
  background-color: transparent;
  padding-left: 18px;
  outline-style: none;
}
/* line 86, ../sass/style.scss */
body > header .operations .search span {
  position: absolute;
  line-height: 80px;
  left: 175px;
  font-size: 18px;
}
/* line 93, ../sass/style.scss */
body > header .operations .account {
  float: left;
  height: 100%;
  padding-top: 20px;
  padding-left: 20px;
}
/* line 98, ../sass/style.scss */
body > header .operations .account img {
  width: 40px;
  border-radius: 100%;
}

/* line 106, ../sass/style.scss */
body > aside {
  margin-top: 80px;
  width: 22%;
  height: 900px;
}

/* line 112, ../sass/style.scss */
aside#profile {
  float: left;
  background: HSL(205, 45%, 63%);
}

/* line 117, ../sass/style.scss */
aside#ad {
  float: right;
  background: #FFFBF5;
}

/* line 122, ../sass/style.scss */
#main {
  margin-top: 80px;
  float: left;
  width: 50%;
  background: HSL(33, 30%, 93%);
  padding: 3%;
}

/* line 130, ../sass/style.scss */
#main > nav {
  background: #FFFBF5;
  height: 80px;
  margin-bottom: 30px;
}
/* line 135, ../sass/style.scss */
#main > nav ul {
  height: 100%;
}

/* line 140, ../sass/style.scss */
#main > nav > ul > li {
  float: left;
  width: 25%;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 25px;
  height: 50px;
  color: #C6C1B0;
}
/* line 148, ../sass/style.scss */
#main > nav > ul > li span {
  padding-top: 4px;
  display: block;
  color: black;
  font-weight: 400;
}
/* line 155, ../sass/style.scss */
#main > nav > ul > li:first-child {
  border-bottom: 5px solid HSL(205, 45%, 63%);
}

/* line 160, ../sass/style.scss */
#main > section {
  background: #FFFBF5;
}

/* line 164, ../sass/style.scss */
#main > section > ul {
  list-style: none;
  padding-left: 0;
}

/* line 169, ../sass/style.scss */
#main > section > ul > li {
  border-bottom: 1px solid gray;
}

/* line 174, ../sass/style.scss */
.posts .post {
  text-align: left;
  padding-bottom: 30px;
  border-bottom: 1px solid #F2EEE8;
}
/* line 178, ../sass/style.scss */
.posts .post img {
  margin-left: 30px;
  margin-top: 30px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
}
/* line 186, ../sass/style.scss */
.posts .post section {
  margin-left: 90px;
  margin-right: 30px;
}
/* line 190, ../sass/style.scss */
.posts .post section header {
  padding-top: 30px;
}
/* line 192, ../sass/style.scss */
.posts .post section header .icon-loop {
  color: green;
  margin: 0 5px;
}
/* line 196, ../sass/style.scss */
.posts .post section header .name {
  font-size: 15px;
  font-weight: 400;
}
/* line 200, ../sass/style.scss */
.posts .post section header .id {
  font-size: 15px;
  color: #C6C1B0;
}
/* line 204, ../sass/style.scss */
.posts .post section header .time {
  font-size: 15px;
  color: #C6C1B0;
  float: right;
}
/* line 211, ../sass/style.scss */
.posts .post section .content {
  padding-top: 15px;
  font-size: 15px;
  line-height: 20px;
  overflow: hidden;
}
/* line 217, ../sass/style.scss */
.posts .post section footer {
  margin-top: 20px;
}
/* line 219, ../sass/style.scss */
.posts .post section footer a {
  font-size: 16px;
  color: #C6C1B0;
  margin-right: 0.6em;
}
/* line 223, ../sass/style.scss */
.posts .post section footer a:last-child {
  float: right;
}
