/* line 5, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/style.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  text-align: center;
  color: #58575F;
  background-color: #F2EEE8;
}

/* line 17, ../sass/style.scss */
body > header {
  height: 80px;
  width: 100%;
  /*border-bottom: 1px solid HSL(0, 0%, 80%);*/
  background: HSL(38, 100%, 98%);
  box-shadow: 0 0 5px gray;
  position: absolute;
}

/* line 26, ../sass/style.scss */
body > header > div {
  display: inline-block;
}

/* line 30, ../sass/style.scss */
body > header li {
  display: inline-block;
}

/* line 34, ../sass/style.scss */
body > aside {
  margin-top: 80px;
  width: 22%;
  height: 900px;
}

/* line 40, ../sass/style.scss */
aside#profile {
  float: left;
  background: HSL(205, 45%, 63%);
}

/* line 45, ../sass/style.scss */
aside#ad {
  float: right;
  background: #FFFBF5;
}

/* line 50, ../sass/style.scss */
#main {
  margin-top: 80px;
  float: left;
  width: 50%;
  background: HSL(33, 30%, 93%);
  padding: 40px;
}

/* line 58, ../sass/style.scss */
#main > nav {
  background: #FFFBF5;
  height: 80px;
  margin-bottom: 30px;
}
/* line 63, ../sass/style.scss */
#main > nav ul {
  height: 100%;
}

/* line 68, ../sass/style.scss */
#main > nav > ul > li {
  float: left;
  width: 25%;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 16px;
  margin-top: 25px;
  height: 50px;
  color: #C6C1B0;
}
/* line 77, ../sass/style.scss */
#main > nav > ul > li span {
  padding-top: 4px;
  display: block;
  color: black;
  font-weight: bold;
}
/* line 84, ../sass/style.scss */
#main > nav > ul > li:first-child {
  border-bottom: 5px solid HSL(205, 45%, 63%);
}

/* line 89, ../sass/style.scss */
#main > section {
  background: #FFFBF5;
}

/* line 93, ../sass/style.scss */
#main > section > ul {
  list-style: none;
  padding-left: 0;
}

/* line 98, ../sass/style.scss */
#main > section > ul > li {
  border-bottom: 1px solid gray;
}

/* line 103, ../sass/style.scss */
.posts .post {
  text-align: left;
}
/* line 105, ../sass/style.scss */
.posts .post img {
  margin-left: 3em;
  margin-top: 3em;
  width: 4em;
  height: 4em;
  border-radius: 100%;
  position: absolute;
}
/* line 113, ../sass/style.scss */
.posts .post section {
  margin-left: 9em;
}
/* line 116, ../sass/style.scss */
.posts .post section header {
  padding-top: 3em;
}
/* line 120, ../sass/style.scss */
.posts .post section .content {
  padding-top: 1em;
  line-height: 1.2em;
}
/* line 125, ../sass/style.scss */
.posts .post section footer a {
  text-decoration: none;
  color: #C6C1B0;
  margin-right: 0.6em;
  font-weight: bold;
}
