/* line 5, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/style.scss */
body {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  text-align: center;
  color: #58575F;
  background-color: #F2EEE8;
}

/* line 20, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 24, ../sass/style.scss */
body > header {
  height: 80px;
  width: 100%;
  background: HSL(38, 100%, 98%);
  box-shadow: 0 0 5px HSL(300, 6%, 86%);
  position: absolute;
}
/* line 31, ../sass/style.scss */
body > header .tweet {
  width: 80px;
  height: 100%;
  border-right: 1px solid HSL(300, 6%, 86%);
  float: left;
}
/* line 36, ../sass/style.scss */
body > header .tweet a {
  display: block;
  width: 40px;
  margin: 20px 0 0 20px;
  line-height: 40px;
  border-radius: 100%;
  color: white;
  background-color: HSL(208, 43%, 65%);
  border: 0;
}
/* line 48, ../sass/style.scss */
body > header .actions {
  float: left;
}
/* line 50, ../sass/style.scss */
body > header .actions a {
  display: inline-block;
  width: 40px;
  margin: 20px 0 0 20px;
  line-height: 40px;
  border-radius: 100%;
  border: 1px solid HSL(300, 6%, 86%);
  color: HSL(45, 4%, 36%);
  font-size: 15px;
}
/* line 62, ../sass/style.scss */
body > header h1 {
  margin: 25px auto;
  font-size: 30px;
  color: HSL(208, 43%, 65%);
  width: 30px;
}
/* line 68, ../sass/style.scss */
body > header .operations {
  float: right;
  width: 294px;
}
/* line 72, ../sass/style.scss */
body > header .operations .search {
  float: left;
  height: 100%;
  line-height: 80px;
  position: relative;
}
/* line 77, ../sass/style.scss */
body > header .operations .search input {
  width: 186px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid HSL(300, 6%, 86%);
  font-size: 16px;
  background-color: transparent;
  padding-left: 18px;
  outline-style: none;
}
/* line 87, ../sass/style.scss */
body > header .operations .search span {
  position: absolute;
  line-height: 80px;
  left: 175px;
  font-size: 18px;
}
/* line 94, ../sass/style.scss */
body > header .operations .account {
  float: left;
  height: 100%;
  padding-top: 20px;
  padding-left: 20px;
}
/* line 99, ../sass/style.scss */
body > header .operations .account img {
  width: 40px;
  border-radius: 100%;
}

/* line 107, ../sass/style.scss */
body > aside {
  margin-top: 80px;
  width: 22%;
  height: 1200px;
}

/* line 113, ../sass/style.scss */
aside#profile {
  float: left;
  background: HSL(208, 43%, 65%);
  font-size: 16px;
  color: white;
}
/* line 120, ../sass/style.scss */
aside#profile .card header {
  font-weight: 400;
  margin-bottom: 4px;
}
/* line 123, ../sass/style.scss */
aside#profile .card header img {
  display: block;
  width: 100px;
  border-radius: 100%;
  margin: 55px auto 20px;
}
/* line 130, ../sass/style.scss */
aside#profile .card article {
  line-height: 20px;
  padding: 10px;
}
/* line 135, ../sass/style.scss */
aside#profile .card footer a {
  margin: 20px auto;
  display: block;
  color: white;
}
/* line 140, ../sass/style.scss */
aside#profile .card footer button {
  font-size: 16px;
  color: white;
  width: 160px;
  height: 40px;
  background-color: HSL(208, 35%, 57%);
  border-radius: 20px;
  border: 0;
}
/* line 152, ../sass/style.scss */
aside#profile .gallery {
  margin-top: 40px;
  height: 300px;
}
/* line 155, ../sass/style.scss */
aside#profile .gallery img {
  width: 33.3%;
  float: left;
}
/* line 160, ../sass/style.scss */
aside#profile .activities {
  margin: 30px;
  text-align: left;
}
/* line 163, ../sass/style.scss */
aside#profile .activities header {
  text-transform: uppercase;
}
/* line 166, ../sass/style.scss */
aside#profile .activities ul {
  margin-top: 10px;
  color: HSL(208, 35%, 57%);
}
/* line 169, ../sass/style.scss */
aside#profile .activities ul li {
  line-height: 30px;
}
/* line 171, ../sass/style.scss */
aside#profile .activities ul li a {
  color: white;
  border-bottom: 1px solid HSL(212, 40%, 90%);
}

/* line 182, ../sass/style.scss */
aside#ad {
  float: right;
  background: #FFFBF5;
}

/* line 187, ../sass/style.scss */
#main {
  margin-top: 80px;
  float: left;
  width: 50%;
  background: HSL(33, 30%, 93%);
  padding: 3%;
}

/* line 195, ../sass/style.scss */
#main > nav {
  background: #FFFBF5;
  height: 80px;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px HSL(300, 6%, 86%);
}
/* line 201, ../sass/style.scss */
#main > nav ul {
  height: 100%;
}

/* line 206, ../sass/style.scss */
#main > nav > ul > li {
  float: left;
  width: 25%;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 25px;
  height: 50px;
  color: #C6C1B0;
}
/* line 214, ../sass/style.scss */
#main > nav > ul > li span {
  padding-top: 4px;
  display: block;
  color: black;
  font-weight: 400;
}
/* line 221, ../sass/style.scss */
#main > nav > ul > li:first-child {
  border-bottom: 5px solid HSL(208, 43%, 65%);
}

/* line 226, ../sass/style.scss */
#main > section {
  background: #FFFBF5;
  box-shadow: 0 2px 5px HSL(300, 6%, 86%);
}

/* line 231, ../sass/style.scss */
#main > section > ul {
  list-style: none;
  padding-left: 0;
}

/* line 236, ../sass/style.scss */
#main > section > ul > li {
  border-bottom: 1px solid gray;
}

/* line 241, ../sass/style.scss */
.posts .post {
  text-align: left;
  padding-bottom: 30px;
  border-bottom: 1px solid #F2EEE8;
}
/* line 245, ../sass/style.scss */
.posts .post img {
  margin-left: 30px;
  margin-top: 30px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
}
/* line 253, ../sass/style.scss */
.posts .post section {
  margin-left: 90px;
  margin-right: 30px;
}
/* line 257, ../sass/style.scss */
.posts .post section header {
  padding-top: 30px;
}
/* line 259, ../sass/style.scss */
.posts .post section header .icon-loop {
  color: green;
  margin: 0 5px;
}
/* line 263, ../sass/style.scss */
.posts .post section header .name {
  font-size: 15px;
  font-weight: 400;
}
/* line 267, ../sass/style.scss */
.posts .post section header .id {
  font-size: 15px;
  color: #C6C1B0;
}
/* line 271, ../sass/style.scss */
.posts .post section header .time {
  font-size: 15px;
  color: #C6C1B0;
  float: right;
}
/* line 278, ../sass/style.scss */
.posts .post section .content {
  padding-top: 15px;
  font-size: 15px;
  line-height: 20px;
  overflow: hidden;
}
/* line 284, ../sass/style.scss */
.posts .post section footer {
  margin-top: 20px;
}
/* line 286, ../sass/style.scss */
.posts .post section footer a {
  font-size: 16px;
  color: #C6C1B0;
  margin-right: 0.6em;
}
/* line 290, ../sass/style.scss */
.posts .post section footer a:last-child {
  float: right;
}

/* line 299, ../sass/style.scss */
#ad {
  font-size: 16px;
}
/* line 301, ../sass/style.scss */
#ad .trends {
  text-align: left;
  padding: 40px 35px;
}
/* line 304, ../sass/style.scss */
#ad .trends h2 {
  text-transform: uppercase;
}
/* line 307, ../sass/style.scss */
#ad .trends ul {
  margin-top: 20px;
}
/* line 309, ../sass/style.scss */
#ad .trends ul a {
  color: HSL(208, 43%, 65%);
  line-height: 22px;
}
/* line 316, ../sass/style.scss */
#ad .follow {
  padding: 10px 40px 0 50px;
}
/* line 319, ../sass/style.scss */
#ad .follow header {
  height: 20px;
  margin-bottom: 10px;
}
/* line 322, ../sass/style.scss */
#ad .follow header h2 {
  text-transform: uppercase;
  float: left;
}
/* line 326, ../sass/style.scss */
#ad .follow header a {
  float: right;
  color: HSL(208, 43%, 65%);
}
/* line 333, ../sass/style.scss */
#ad .follow ul li {
  height: 60px;
}
/* line 335, ../sass/style.scss */
#ad .follow ul li img {
  border-radius: 100%;
  float: left;
  width: 40px;
}
/* line 340, ../sass/style.scss */
#ad .follow ul li .detail {
  width: 130px;
  padding-left: 20px;
  float: left;
  text-align: left;
  line-height: 20px;
}
/* line 346, ../sass/style.scss */
#ad .follow ul li .detail .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 351, ../sass/style.scss */
#ad .follow ul li .detail .description {
  color: #C6C1B0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 358, ../sass/style.scss */
#ad .follow ul li .add {
  float: right;
  border: 1px solid #F2EEE8;
  width: 15px;
  line-height: 15px;
}
